nav {
margin-bottom: 30px;
text-align: left;
box-sizing: border-box;
border-bottom: 1px solid #dbdbdb;
padding-bottom: 20px;
}

nav a {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 9px 12px;
  cursor: pointer;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.5;
}
nav input[type="text"] {
font-family: 'Open Sans', sans-serif;
font-size: 1em; 
line-height: inherit; 
margin: 0;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
border-radius: 3px;
padding: 9px 12px;
transition: 0.3s;
border: none;
background-color: rgb(255, 255, 255);
height: 36px;
box-sizing: border-box;
width: 100%;
max-width: 450px;
}

nav input[type="text"]::placeholder {
color: #212529;
opacity: 0.4;
}

input:focus, input:hover, select:hover, select:focus{
background-color: rgb(234, 234, 234);
outline: 0;
border: none;
}

div {
box-sizing: border-box;
padding: 0px 15px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
position: relative;
vertical-align: top;
font-size: 1rem;
padding-top: 0px;
border-bottom: 1px solid rgba(0, 0, 0, .1);
margin-bottom: 20px;
text-align: left
}
div div {
  width: 50%;
  top: 0px;
  display: inline-block;
  line-height: 1.5;
  border-bottom: none;
}

div div.data{
  width: 100%;
  }

div div.data span{
display: inline-block;
}
div div.data input[type="date"]{
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; 
  line-height: inherit; 
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 3px;
  padding: 9px 12px;
  transition: 0.3s;
  border: none;
  background-color: rgb(255, 255, 255);
  height: 36px;
  box-sizing: border-box;
}

div span {
  display: block;
  margin: 10px 0px;
  font-weight: 600;
}

select {
  line-height: inherit; 
  margin: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 3px;
  padding: 9px 12px;
  transition: 0.3s;
  border: none;
  background-color: rgb(255, 255, 255);
  height: 36px;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px){
  nav input[type="text"] {margin-left: 50px;}
}

@media screen and (max-width: 700px){
  nav input[type="text"] {max-width: calc(100% - 50px);}
  nav a {float: none; display: block; margin-top: 10px;}
  div div {width: 100%;}
}